@import '../../../scss/variables';
.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;

	&.profile {
		> .count .heading {
			color: #775f5f;
			pointer-events: none;
		}
	}

	> .count {
		width: 27%;
		text-align: center;
		font-size: 24px;
		.heading {
			color: $brow;
			text-transform: capitalize;
		}
		.number {
			font-weight: bold;
			color: #fff;
		}
	}
}
