@import '../../../../scss/variables';
@import '../../../../scss/animation';

.wrapper {
	position: relative;

	button {
		background-color: transparent;
		border: none;
		outline: none;
		cursor: pointer;
	}

	.menu {
		position: absolute;

		top: calc(100% + 8px);
		right: 0;

		background-color: rgba(0, 0, 0, 0.25);
		padding: 10px 12px;

		font-size: 14px;

		box-shadow: $bx-16;
		border-radius: 10px 0 10px 10px;
		min-width: 116px;
		display: none;
		animation: opacity 0.4s;
		backdrop-filter: blur(3px);

		&.show {
			display: block;
		}
		> ul {
			list-style-type: none;

			a {
				//font-size: 14px;
				color: #fff;
				text-decoration: none;
				transition: color 0.2s ease;
				&:hover,
				&.active {
					//animation: 2s infinite alternate movingAn;
					color: $accent;
					margin: 4px 0;
				}
			}
		}
	}
}

@keyframes movingAn {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(10px);
	}
}
